# Binaries folder
bin/
# Vim's temp files
*.swp
# MacOS .DS_Store file
.DS_Dtore
# Local scripts for the repo updates
gitupdate.sh
# Object and executable files
*.o
*.out
*.exe
# Any temporary or backup files
*~
